# Default ignored files
/shelf/
/workspace.xml
.venv/
.vscode/
!.vscode/extensions.json
.idea/
.env
*.log

# Python
.python-version
__pycache__/
*.pyc
build
dist
digitalocean.egg-info

# client gen
DigitalOcean-public.v2.yaml
node_modules/
testscript.py