# coding=utf-8
# --------------------------------------------------------------------------
# Code generated by Microsoft (R) AutoRest Code Generator (autorest: 3.4.0, generator: @autorest/python@5.7.0)
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
from typing import TYPE_CHECKING
import warnings

from azure.core.exceptions import ClientAuthenticationError, HttpResponseError, ResourceExistsError, ResourceNotFoundError, map_error
from azure.core.pipeline import PipelineResponse
from azure.core.pipeline.transport import HttpRequest, HttpResponse

from .. import models as _models

if TYPE_CHECKING:
    # pylint: disable=unused-import,ungrouped-imports
    from typing import Any, Callable, Dict, Generic, Optional, TypeVar, Union

    T = TypeVar('T')
    ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, Dict[str, Any]], Any]]

class ListOperations(object):
    """ListOperations operations.

    You should not instantiate this class directly. Instead, you should create a Client instance that
    instantiates it for you and attaches it as an attribute.

    :ivar models: Alias to model classes used in this operation group.
    :type models: ~digitalocean.models
    :param client: Client for service requests.
    :param config: Configuration of service client.
    :param serializer: An object model serializer.
    :param deserializer: An object model deserializer.
    """

    models = _models

    def __init__(self, client, config, serializer, deserializer):
        self._client = client
        self._serialize = serializer
        self._deserialize = deserializer
        self._config = config

    def all_droplets(
        self,
        **kwargs  # type: Any
    ):
        # type: (...) -> Union["_models.ComponentsMufb2AResponsesAllDropletsContentApplicationJsonSchema", "_models.Error"]
        """List All Droplets.

        To list all Droplets in your account, send a GET request to ``/v2/droplets``.

        The response body will be a JSON object with a key of ``droplets``. This will be
        set to an array containing objects each representing a Droplet. These will
        contain the standard Droplet attributes.

        Filtering Results by Tag
        ^^^^^^^^^^^^^^^^^^^^^^^^

        It's possible to request filtered results by including certain query parameters.
        To only list Droplets assigned to a specific tag, include the ``tag_name`` query
        parameter set to the name of the tag in your GET request. For example,
        ``/v2/droplets?tag_name=$TAG_NAME``.

        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: ComponentsMufb2AResponsesAllDropletsContentApplicationJsonSchema or Error, or the result of cls(response)
        :rtype: ~digitalocean.models.ComponentsMufb2AResponsesAllDropletsContentApplicationJsonSchema or ~digitalocean.models.Error
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[Union["_models.ComponentsMufb2AResponsesAllDropletsContentApplicationJsonSchema", "_models.Error"]]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.all_droplets.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if self._config.per_page is not None:
            query_parameters['per_page'] = self._serialize.query("self._config.per_page", self._config.per_page, 'int', maximum=200, minimum=1)
        if self._config.page is not None:
            query_parameters['page'] = self._serialize.query("self._config.page", self._config.page, 'int', minimum=1)
        if self._config.tag_name is not None:
            query_parameters['tag_name'] = self._serialize.query("self._config.tag_name", self._config.tag_name, 'str')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200, 401, 429, 500]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response)

        response_headers = {}
        if response.status_code == 200:
            response_headers['ratelimit-limit']=self._deserialize('int', response.headers.get('ratelimit-limit'))
            response_headers['ratelimit-remaining']=self._deserialize('int', response.headers.get('ratelimit-remaining'))
            response_headers['ratelimit-reset']=self._deserialize('int', response.headers.get('ratelimit-reset'))
            deserialized = self._deserialize('ComponentsMufb2AResponsesAllDropletsContentApplicationJsonSchema', pipeline_response)

        if response.status_code == 401:
            response_headers['ratelimit-limit']=self._deserialize('int', response.headers.get('ratelimit-limit'))
            response_headers['ratelimit-remaining']=self._deserialize('int', response.headers.get('ratelimit-remaining'))
            response_headers['ratelimit-reset']=self._deserialize('int', response.headers.get('ratelimit-reset'))
            deserialized = self._deserialize('Error', pipeline_response)

        if response.status_code == 429:
            response_headers['ratelimit-limit']=self._deserialize('int', response.headers.get('ratelimit-limit'))
            response_headers['ratelimit-remaining']=self._deserialize('int', response.headers.get('ratelimit-remaining'))
            response_headers['ratelimit-reset']=self._deserialize('int', response.headers.get('ratelimit-reset'))
            deserialized = self._deserialize('Error', pipeline_response)

        if response.status_code == 500:
            response_headers['ratelimit-limit']=self._deserialize('int', response.headers.get('ratelimit-limit'))
            response_headers['ratelimit-remaining']=self._deserialize('int', response.headers.get('ratelimit-remaining'))
            response_headers['ratelimit-reset']=self._deserialize('int', response.headers.get('ratelimit-reset'))
            deserialized = self._deserialize('Error', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, response_headers)

        return deserialized
    all_droplets.metadata = {'url': '/v2/droplets'}  # type: ignore

    def droplet_backups(
        self,
        **kwargs  # type: Any
    ):
        # type: (...) -> Union["_models.Components10IqkodResponsesAllDropletBackupsContentApplicationJsonSchema", "_models.Error"]
        """List Backups for a Droplet.

        To retrieve any backups associated with a Droplet, send a GET request to
        ``/v2/droplets/$DROPLET_ID/backups``.

        You will get back a JSON object that has a ``backups`` key. This will be set to
        an array of backup objects, each of which contain the standard
        Droplet backup attributes.

        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: Components10IqkodResponsesAllDropletBackupsContentApplicationJsonSchema or Error, or the result of cls(response)
        :rtype: ~digitalocean.models.Components10IqkodResponsesAllDropletBackupsContentApplicationJsonSchema or ~digitalocean.models.Error
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[Union["_models.Components10IqkodResponsesAllDropletBackupsContentApplicationJsonSchema", "_models.Error"]]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.droplet_backups.metadata['url']  # type: ignore
        path_format_arguments = {
            'droplet_id': self._serialize.url("self._config.droplet_id", self._config.droplet_id, 'int', minimum=1),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if self._config.per_page is not None:
            query_parameters['per_page'] = self._serialize.query("self._config.per_page", self._config.per_page, 'int', maximum=200, minimum=1)
        if self._config.page is not None:
            query_parameters['page'] = self._serialize.query("self._config.page", self._config.page, 'int', minimum=1)

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200, 401, 404, 429, 500]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response)

        response_headers = {}
        if response.status_code == 200:
            response_headers['ratelimit-limit']=self._deserialize('int', response.headers.get('ratelimit-limit'))
            response_headers['ratelimit-remaining']=self._deserialize('int', response.headers.get('ratelimit-remaining'))
            response_headers['ratelimit-reset']=self._deserialize('int', response.headers.get('ratelimit-reset'))
            deserialized = self._deserialize('Components10IqkodResponsesAllDropletBackupsContentApplicationJsonSchema', pipeline_response)

        if response.status_code == 401:
            response_headers['ratelimit-limit']=self._deserialize('int', response.headers.get('ratelimit-limit'))
            response_headers['ratelimit-remaining']=self._deserialize('int', response.headers.get('ratelimit-remaining'))
            response_headers['ratelimit-reset']=self._deserialize('int', response.headers.get('ratelimit-reset'))
            deserialized = self._deserialize('Error', pipeline_response)

        if response.status_code == 404:
            response_headers['ratelimit-limit']=self._deserialize('int', response.headers.get('ratelimit-limit'))
            response_headers['ratelimit-remaining']=self._deserialize('int', response.headers.get('ratelimit-remaining'))
            response_headers['ratelimit-reset']=self._deserialize('int', response.headers.get('ratelimit-reset'))
            deserialized = self._deserialize('Error', pipeline_response)

        if response.status_code == 429:
            response_headers['ratelimit-limit']=self._deserialize('int', response.headers.get('ratelimit-limit'))
            response_headers['ratelimit-remaining']=self._deserialize('int', response.headers.get('ratelimit-remaining'))
            response_headers['ratelimit-reset']=self._deserialize('int', response.headers.get('ratelimit-reset'))
            deserialized = self._deserialize('Error', pipeline_response)

        if response.status_code == 500:
            response_headers['ratelimit-limit']=self._deserialize('int', response.headers.get('ratelimit-limit'))
            response_headers['ratelimit-remaining']=self._deserialize('int', response.headers.get('ratelimit-remaining'))
            response_headers['ratelimit-reset']=self._deserialize('int', response.headers.get('ratelimit-reset'))
            deserialized = self._deserialize('Error', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, response_headers)

        return deserialized
    droplet_backups.metadata = {'url': '/v2/droplets/{droplet_id}/backups'}  # type: ignore

    def droplet_snapshots(
        self,
        **kwargs  # type: Any
    ):
        # type: (...) -> Union["_models.ComponentsAa1O1RResponsesAllDropletSnapshotsContentApplicationJsonSchema", "_models.Error"]
        """List Snapshots for a Droplet.

        To retrieve the snapshots that have been created from a Droplet, send a GET
        request to ``/v2/droplets/$DROPLET_ID/snapshots``.

        You will get back a JSON object that has a ``snapshots`` key. This will be set
        to an array of snapshot objects, each of which contain the standard Droplet
        snapshot attributes.

        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: ComponentsAa1O1RResponsesAllDropletSnapshotsContentApplicationJsonSchema or Error, or the result of cls(response)
        :rtype: ~digitalocean.models.ComponentsAa1O1RResponsesAllDropletSnapshotsContentApplicationJsonSchema or ~digitalocean.models.Error
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[Union["_models.ComponentsAa1O1RResponsesAllDropletSnapshotsContentApplicationJsonSchema", "_models.Error"]]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.droplet_snapshots.metadata['url']  # type: ignore
        path_format_arguments = {
            'droplet_id': self._serialize.url("self._config.droplet_id", self._config.droplet_id, 'int', minimum=1),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if self._config.per_page is not None:
            query_parameters['per_page'] = self._serialize.query("self._config.per_page", self._config.per_page, 'int', maximum=200, minimum=1)
        if self._config.page is not None:
            query_parameters['page'] = self._serialize.query("self._config.page", self._config.page, 'int', minimum=1)

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200, 401, 404, 429, 500]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response)

        response_headers = {}
        if response.status_code == 200:
            response_headers['ratelimit-limit']=self._deserialize('int', response.headers.get('ratelimit-limit'))
            response_headers['ratelimit-remaining']=self._deserialize('int', response.headers.get('ratelimit-remaining'))
            response_headers['ratelimit-reset']=self._deserialize('int', response.headers.get('ratelimit-reset'))
            deserialized = self._deserialize('ComponentsAa1O1RResponsesAllDropletSnapshotsContentApplicationJsonSchema', pipeline_response)

        if response.status_code == 401:
            response_headers['ratelimit-limit']=self._deserialize('int', response.headers.get('ratelimit-limit'))
            response_headers['ratelimit-remaining']=self._deserialize('int', response.headers.get('ratelimit-remaining'))
            response_headers['ratelimit-reset']=self._deserialize('int', response.headers.get('ratelimit-reset'))
            deserialized = self._deserialize('Error', pipeline_response)

        if response.status_code == 404:
            response_headers['ratelimit-limit']=self._deserialize('int', response.headers.get('ratelimit-limit'))
            response_headers['ratelimit-remaining']=self._deserialize('int', response.headers.get('ratelimit-remaining'))
            response_headers['ratelimit-reset']=self._deserialize('int', response.headers.get('ratelimit-reset'))
            deserialized = self._deserialize('Error', pipeline_response)

        if response.status_code == 429:
            response_headers['ratelimit-limit']=self._deserialize('int', response.headers.get('ratelimit-limit'))
            response_headers['ratelimit-remaining']=self._deserialize('int', response.headers.get('ratelimit-remaining'))
            response_headers['ratelimit-reset']=self._deserialize('int', response.headers.get('ratelimit-reset'))
            deserialized = self._deserialize('Error', pipeline_response)

        if response.status_code == 500:
            response_headers['ratelimit-limit']=self._deserialize('int', response.headers.get('ratelimit-limit'))
            response_headers['ratelimit-remaining']=self._deserialize('int', response.headers.get('ratelimit-remaining'))
            response_headers['ratelimit-reset']=self._deserialize('int', response.headers.get('ratelimit-reset'))
            deserialized = self._deserialize('Error', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, response_headers)

        return deserialized
    droplet_snapshots.metadata = {'url': '/v2/droplets/{droplet_id}/snapshots'}  # type: ignore

    def droplet_actions(
        self,
        **kwargs  # type: Any
    ):
        # type: (...) -> Union["_models.Components19JfuwyResponsesAllDropletActionsContentApplicationJsonSchema", "_models.Error"]
        """List Actions for a Droplet.

        To retrieve a list of all actions that have been executed for a Droplet, send
        a GET request to ``/v2/droplets/$DROPLET_ID/actions``.

        The results will be returned as a JSON object with an ``actions`` key. This will
        be set to an array filled with ``action`` objects containing the standard
        ``action`` attributes.

        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: Components19JfuwyResponsesAllDropletActionsContentApplicationJsonSchema or Error, or the result of cls(response)
        :rtype: ~digitalocean.models.Components19JfuwyResponsesAllDropletActionsContentApplicationJsonSchema or ~digitalocean.models.Error
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[Union["_models.Components19JfuwyResponsesAllDropletActionsContentApplicationJsonSchema", "_models.Error"]]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.droplet_actions.metadata['url']  # type: ignore
        path_format_arguments = {
            'droplet_id': self._serialize.url("self._config.droplet_id", self._config.droplet_id, 'int', minimum=1),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if self._config.per_page is not None:
            query_parameters['per_page'] = self._serialize.query("self._config.per_page", self._config.per_page, 'int', maximum=200, minimum=1)
        if self._config.page is not None:
            query_parameters['page'] = self._serialize.query("self._config.page", self._config.page, 'int', minimum=1)

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200, 401, 404, 429, 500]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response)

        response_headers = {}
        if response.status_code == 200:
            response_headers['ratelimit-limit']=self._deserialize('int', response.headers.get('ratelimit-limit'))
            response_headers['ratelimit-remaining']=self._deserialize('int', response.headers.get('ratelimit-remaining'))
            response_headers['ratelimit-reset']=self._deserialize('int', response.headers.get('ratelimit-reset'))
            deserialized = self._deserialize('Components19JfuwyResponsesAllDropletActionsContentApplicationJsonSchema', pipeline_response)

        if response.status_code == 401:
            response_headers['ratelimit-limit']=self._deserialize('int', response.headers.get('ratelimit-limit'))
            response_headers['ratelimit-remaining']=self._deserialize('int', response.headers.get('ratelimit-remaining'))
            response_headers['ratelimit-reset']=self._deserialize('int', response.headers.get('ratelimit-reset'))
            deserialized = self._deserialize('Error', pipeline_response)

        if response.status_code == 404:
            response_headers['ratelimit-limit']=self._deserialize('int', response.headers.get('ratelimit-limit'))
            response_headers['ratelimit-remaining']=self._deserialize('int', response.headers.get('ratelimit-remaining'))
            response_headers['ratelimit-reset']=self._deserialize('int', response.headers.get('ratelimit-reset'))
            deserialized = self._deserialize('Error', pipeline_response)

        if response.status_code == 429:
            response_headers['ratelimit-limit']=self._deserialize('int', response.headers.get('ratelimit-limit'))
            response_headers['ratelimit-remaining']=self._deserialize('int', response.headers.get('ratelimit-remaining'))
            response_headers['ratelimit-reset']=self._deserialize('int', response.headers.get('ratelimit-reset'))
            deserialized = self._deserialize('Error', pipeline_response)

        if response.status_code == 500:
            response_headers['ratelimit-limit']=self._deserialize('int', response.headers.get('ratelimit-limit'))
            response_headers['ratelimit-remaining']=self._deserialize('int', response.headers.get('ratelimit-remaining'))
            response_headers['ratelimit-reset']=self._deserialize('int', response.headers.get('ratelimit-reset'))
            deserialized = self._deserialize('Error', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, response_headers)

        return deserialized
    droplet_actions.metadata = {'url': '/v2/droplets/{droplet_id}/actions'}  # type: ignore
