name: Python Client Generation
on:
  workflow_dispatch:
    inputs:
      commit_url:
        description: 'The commit URL that triggered the workflow'
        required: true 
        type: string
jobs:
  Generate-Python-Client:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: delete old generated code
      run: find do-client-python/ ! -name "*_patch.py"  -exec rm -rv {} + -depth
    - name: Make spec directory
      run: mkdir public
    - name: Download spec file
      run: curl https://api-engineering.nyc3.digitaloceanspaces.com/spec-ci/DigitalOcean-public.v2.yaml -o public/DigitalOcean-public.v2.yaml
    - uses: actions/upload-artifact@v2
      with:
        name: DigitalOcean-public.v2
        path: public/DigitalOcean-public.v2.yaml
    - name: install autorest
      run: npm install -g autorest
    - name: generate code
      run:  autorest client_gen_config.md --input-file=public/DigitalOcean-public.v2.yaml --output-folder=do-client-python/ 
    - name: Create Pull Request
      id: cpr
      uses: peter-evans/create-pull-request@v4
      with:
        token: ${{ secrets.PY_CLIENT }}
        commit-message: Re-generate Python Client
        committer: GitHub <noreply@github.com>
        author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
        branch: bot-regenerate-python-client
        branch-suffix: short-commit-hash
        delete-branch: true
        title: '[Bot] Re-generate Python Client'
        body: |
          Re-generate Python Client
          - [These changes to DigitalOcean spec][2] (digitalocean/openapi) triggered this regeneration of the python client.
          - Auto-generated by [create-pull-request][1]

          [1]: https://github.com/peter-evans/create-pull-request
          [2]: ${{ github.event.inputs.commit_url }}
        labels: |
          automated pr
        team-reviewers: |
          owners
          maintainers
        draft: false